@charset "UTF-8";

body {
    color: #333;
    font-size: 0.875rem;
    min-height: 100vh;
    position: relative;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

img {
    width: 100%;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding:  0 4%;
}

/* header */
header {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}

header a{
    display: block;
    width: 180px;
}
/* トグルスイッチ */
.toggle {
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 20px;
}
.toggle span:nth-child(1) {
    top: 10px
}
.toggle span:nth-child(2) {
    top: 18px
}

/* MaskMenu*/
.mask-menu {
    position: fixed;
    left: -300px;
    opacity: 0;
    transition: all 0.5s;
    color: white;
}
.open .mask-menu {
    opacity: 1;
    left: 0;
}
.menu-list li {
    
}

.open .toggle span {
    background-color: white;
}
.open .toggle span:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
}
.open .toggle span:nth-child(2) {
    transform: translateY(-4px) rotate(45deg);
}

.toggle span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    transition: 0.5s;
    position: absolute;
}



/* footer */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    display: flex;
    margin: 14px 0;
}

footer li {
    font-size: 0.75rem;
    margin-right: 30px;
}

.footer-logo {
    font-size: 0.625rem;
}

/* main */
main {
    padding: 100px 0;
}
/* アイテムカタログ */
.item-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item-image {
    margin-bottom: 10px;
}

.item-catalog p {
    font-size: 0.75rem;
}

.view-more {
    margin-top: 30px;
    text-align: center;
}

/* タッチできる要素のアニメーション */
.touch-item:hover {
    opacity: 0.7;
}

/* 各itemページ */
.item-page {
    margin: 0;
}
.item-contents {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}
.item-picture {
    width: 50%;
}
.item-introduce {
    width: 42%;
}
.item-page p{
    margin-bottom: 30px;
}
.item-introduce dl{
    display: flex;
    flex-wrap: wrap;
}
.item-introduce dt{
    width: 30%;
}
.item-introduce dd{
    width: 70%;
}

.back-to-product {
    margin-top: 80px;
    text-align: center;
}

/* productのページ数関連 */
.page_number {
    display: flex;
    justify-content: center;
}

.page_number li {
    margin: 20px;
}

